---
layout: default
description: Ben Howdle - JavaScript Developer
---

{% assign first_post = site.posts.first %}
<div id="latest-post" class="post">
	<h2><a href="{{first_post.url}}">{{first_post.title}}</a></h2>
	<span>{{ first_post.date | date: "%d %B %Y" }}</span>
	<hr />
	<p>{{first_post.content}}</p>
	<hr />
	{% if first_post.twitterusername %}<span class="meta right">via <a href="http://twitter.com/{{first_post.twitterusername}}">{{first_post.twitterusername}}</a></span>{% endif %}

	<span class="left meta"><a href="https://twitter.com/intent/tweet?text={{first_post.title}}&amp;url=http://musings.im{{first_post.url}}{% if first_post.twitterusername %}&amp;via={{first_post.twitterusername}}{% endif %}" target="_BLANK">Tweet</a></span>
</div>


<div class="clearfix"></div>