---
layout: default
---

<div class="post">
    <h3><a href="{{page.url}}">{{page.title}}</a></h3>
    <span>{{ page.date | date: "%d %B %Y" }}</span>
    <hr />
    <p>{{page.content}}</p>
    <hr />
    {% if page.twitterusername %}<span class="meta right">via <a href="http://twitter.com/{{page.twitterusername}}">{{page.twitterusername}}</a></span>{% endif %}

    <span class="left meta"><a href="https://twitter.com/intent/tweet?text={{page.title}}&amp;url=http://musings.im{{page.url}}{% if page.twitterusername %}&amp;via={{page.twitterusername}}{% endif %}" target="_BLANK">Tweet</a></span>
</div>

